.subMain {
    width: 80%;
    margin: 10% 5%;
    text-align: center;
}

.subMain ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.la {
    list-style: none;
    align-items: center;
    width: 22%;
    height: 500px;
}

.image {
    padding-top: 4rem;
}

.img1 {
    width: 120px;
    height: 120px;
}

.description {
    margin-top: 30px;
    align-items: center;
}

.description>h5 {
    font-size: 1rem;
    font-weight: 700;
}

.description>p {
    font-size: .7rem;
    font-weight: 500;
}

@media (max-width:800px) {

    .subMain ul {
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .la {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        height: 250px;
        padding-top: 10px;
    }

    .image {
        padding-top: 1rem;
    }


}